<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PresenteList</title>
</head>
<body>
    {% for presente in object_list %}
        <p>{{ presente.nome }}</p>
        <p>{{ presente.descricao }}</p>
        <br>
        <tr>
            <td>{{presente.nome}}</td>
            <td>{{presente.descricao}}</td>
            <td style="width: 150px">
                <button type="button"
                class="btn btn-warning btn-sm js-update-book"
                data-url="{% url 'presente_update' presente.id %}">
                <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <button type="button"
                        class="btn btn-danger btn-sm js-delete-book"
                        data-url="{% url 'presente_delete' presente.id %}">
                    <span class="glyphicon glyphicon-trash"></span> Delete
                </button>
    </td>
        </tr>
    {% endfor %}
</body>
</html>